* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* body {
  background-color: #313131;
}

header {
  min-width: 100%;
  height: 65px;
  background-color: #1e1e1e;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header #show_menu {
  font-size: 3em;
  color: white;
  padding: 10px 40px;
  display: none;
}
header #photo_1_f_responsive {
  display: none;
}
header #search_1_f_responsive {
  display: none;
}
header nav {
  display: flex;
}
header nav .leftside_nav_bar {
  display: flex;
}
header nav .leftside_nav_bar ul, header nav .leftside_nav_bar li {
  list-style: none;
  display: flex;
  color: white;
  font-size: 1.1em;
  margin: 10px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header nav .leftside_nav_bar ul .live_animation, header nav .leftside_nav_bar li .live_animation {
  width: 7px;
  height: 7px;
  background-color: orangered;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: 7px;
  animation: live_anime infinite 1s;
}
@keyframes live_anime {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
    box-shadow: 1px 1px 1px 1px orangered;
  }
}
header nav .leftside_nav_bar li:hover {
  cursor: pointer;
  color: orangered;
}
header nav .leftside_nav_bar #photo_1 {
  width: 63px;
  height: 25px;
  margin: 20px 60px;
}
header nav .leftside_nav_bar_GE {
  display: none;
}
header nav .leftside_nav_bar_GE ul, header nav .leftside_nav_bar_GE li {
  list-style: none;
  display: flex;
  color: white;
  font-size: 1.1em;
  margin: 10px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header nav .leftside_nav_bar_GE ul .live_animation, header nav .leftside_nav_bar_GE li .live_animation {
  width: 7px;
  height: 7px;
  background-color: orangered;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: 7px;
  animation: live_anime infinite 1s;
}
@keyframes live_anime {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
    box-shadow: 1px 1px 1px 1px orangered;
  }
}
header nav .leftside_nav_bar_GE li:hover {
  cursor: pointer;
  color: orangered;
}
header nav .leftside_nav_bar_GE #photo_1 {
  width: 63px;
  height: 25px;
  margin: 20px 60px;
}
header nav .rightside_nav_bar {
  margin-left: 200px;
  display: flex;
}
header nav .rightside_nav_bar button {
  width: 150px;
  height: 30px;
  margin: 17px 0px;
  color: white;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: orangered;
  border-radius: 7px;
  border: none;
  transition: 0.3s;
}
header nav .rightside_nav_bar button:hover {
  cursor: pointer;
  opacity: 70%;
}
header nav .rightside_nav_bar_GE {
  margin-left: 200px;
  display: none;
}
header nav .rightside_nav_bar_GE button {
  width: 150px;
  height: 30px;
  margin: 17px 0px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: orangered;
  border-radius: 7px;
  border: none;
  transition: 0.3s;
}
header nav .rightside_nav_bar_GE button:hover {
  cursor: pointer;
  opacity: 70%;
}
header nav #change_language {
  width: 60px;
  height: 40px;
  margin: 12px 30px;
  display: block;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  background-color: #313131;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: orangered solid 2px;
  cursor: pointer;
}
header #search_1 {
  font-size: 1.8em;
  color: white;
  margin: 17px 30px;
}
header #search_1:hover {
  color: orangered;
  cursor: pointer;
}
header #button_for_close {
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  top: 15px;
  right: 300px;
  z-index: 2;
  background-color: #313131;
  border: none;
  border-radius: 30px;
  display: none;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: close_button_animation;
}
header #button_for_close:hover {
  color: orangered;
  transform: rotate(90deg);
}
@keyframes close_button_animation {
  to {
    position: absolute;
    top: 15px;
    right: 300px;
  }
  from {
    position: absolute;
    top: 15px;
    right: 100px;
  }
}
header #user_1 {
  font-size: 1.8em;
  color: white;
  margin: 17px 0px;
}
header #user_1:hover {
  color: orangered;
  cursor: pointer;
}
header #user_div {
  width: 275px;
  height: 120px;
  background-color: #1e1e1e;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 10%;
  display: none;
  animation: user_ophen 1s;
}
@keyframes user_ophen {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
header #user_div .user_d {
  font-size: 1.1em;
  list-style: none;
  color: white;
  padding: 15px 50px;
}
header #user_div .user_d i {
  color: orangered;
  font-size: 1.2em;
}
header #user_div .user_d span {
  padding-left: 20px;
}
header #user_div .user_d:hover {
  color: orangered;
  cursor: pointer;
}
header #hearder_search {
  position: absolute;
  top: 15px;
  right: 300px;
  z-index: 1;
  width: 300px;
  height: 30px;
  color: black;
  border: none;
  font-size: 1.1em;
  display: none;
  animation-duration: 2s;
  animation-name: search_animation;
}
@keyframes search_animation {
  to {
    position: absolute;
    top: 15px;
    right: 300px;
  }
  from {
    position: absolute;
    top: 15px;
    right: 100px;
  }
}

#right_side_nav_responsive {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 20%;
  max-height: 100vh;
  background-color: #1e1e1e;
  overflow: scroll;
  border: 1px black solid;
  display: none;
}
#right_side_nav_responsive #nav_close_bt {
  position: sticky;
  top: 30px;
  left: 280px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #1e1e1e;
  border: none;
}
#right_side_nav_responsive #nav_close_bt:hover {
  color: orangered;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}
#right_side_nav_responsive ul, #right_side_nav_responsive li {
  padding: 30px 10px;
  list-style: none;
  color: white;
  font-weight: bold;
}
#right_side_nav_responsive ul .span_for_icon, #right_side_nav_responsive li .span_for_icon {
  color: orangered;
  font-size: 1.5em;
  margin-right: 20px;
}

.container_1 {
  width: 60%;
  min-height: 700px;
  background-color: #1e1e1e;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: solid 1px white;
  display: block;
}
.container_1 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px 100px;
  color: orangered;
}
.container_1 h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 1.1em;
  padding: 20px 100px;
}
.container_1 h5 {
  color: red;
  font-size: 1.1em;
  margin: 0px 25% 10px;
}
.container_1 p {
  color: white;
  font-size: 1.1em;
  margin: 0px 25%;
}
.container_1 input {
  width: 50%;
  height: 30px;
  margin: 10px 25%;
  font-size: 1.1em;
  color: #313131;
}
.container_1 select {
  width: 50%;
  height: 30px;
  margin: 10px 25%;
  font-size: 1.1em;
  color: #313131;
}
.container_1 button {
  width: 25%;
  height: 30px;
  margin: 40px 35%;
  font-size: 1.1em;
  color: white;
  font-weight: bold;
  border: none;
  background-color: orangered;
  cursor: pointer;
}

.container_1_GE {
  width: 60%;
  min-height: 700px;
  background-color: #1e1e1e;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: solid 1px white;
  display: none;
}
.container_1_GE h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px 100px;
  color: orangered;
}
.container_1_GE h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 1.1em;
  padding: 20px 100px;
}
.container_1_GE p {
  color: white;
  font-size: 1.1em;
  margin: 0px 25%;
}
.container_1_GE input {
  width: 50%;
  height: 30px;
  margin: 10px 25%;
  font-size: 1.1em;
  color: #313131;
}
.container_1_GE select {
  width: 50%;
  height: 30px;
  margin: 10px 25%;
  font-size: 1.1em;
  color: #313131;
}
.container_1_GE button {
  width: 27%;
  height: 50px;
  margin: 40px 35%;
  font-size: 1.1em;
  color: white;
  font-weight: bold;
  border: none;
  background-color: orangered;
  cursor: pointer;
}

@media only screen and (max-width: 1230px) {
  header {
    min-width: 100%;
    height: 65px;
    background-color: #1e1e1e;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
  }
  header #show_menu {
    font-size: 3em;
    color: white;
    padding: 10px 40px;
    display: block;
  }
  header #photo_1_f_responsive {
    display: flex;
    position: relative;
    top: 20px;
    left: 35%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
  }
  header #search_1_f_responsive {
    font-size: 2em;
    color: white;
    display: block;
    position: relative;
    top: 20px;
    left: 65%;
  }
  header nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */